DJANGO_SETTINGS_MODULE=config.settings.local
SECRET_KEY=replace-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
SQLITE_DATABASE_NAME=db.sqlite3
LANGUAGE_CODE=en-us
TIME_ZONE=Asia/Kolkata
STATIC_URL=/static/
STATIC_ROOT=staticfiles
MEDIA_URL=/media/
MEDIA_ROOT=media
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_CONTENT_TYPE_NOSNIFF=True
