{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<article>
  <header id="single-header">
    <h1>{{ post.title }}</h1>
    {% if post.subtitle %}<p id="subtitle">{{ post.subtitle }}</p>{% endif %}
    <p id="single-meta">
      <span class="date">{{ post.published_at|date:"M j, Y" }}</span>
      <span id="tags">
        {% for tag in post.tags.all %}
          <a href="{% url 'pages:tags' %}#{{ tag.slug }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </span>
    </p>
  </header>
  {% if post.cover_image %}<img class="page-image" src="{{ post.cover_image.url }}" alt="{{ post.title }}">{% endif %}
  <div class="content">{{ post.body|safe }}</div>
</article>
{% endblock %}
